.image-container {
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%; /* Rundet den Container ab */
  border: 2px solid #007bff; /* Optional: Ein Rahmen um das Bild */
  max-width: 100%; /* Damit das Bild die verfügbare Breite nutzt */
  height: auto;
  position: relative;
  display: inline-block;
}

.single-contact-container {
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;

}


.spaced {
  margin-bottom: 20px;
}

.trash-space {
  margin-top: 20%;
}

.image-crop {
    width: 100px;           /* Feste Breite des Containers */
    height: 100px;          /* Feste Höhe des Containers */
    /*overflow: hidden;*/           /* Überflüssige Teile des Bildes ausblenden */
    border-radius: 50%;       /* Rundet den Container ab */
    border: 2px solid #3d4348;          /* Optional: Ein Rahmen um das Bild */
    position: relative;           /* Für die Positionierung des Bildes */
    display: inline-block;          /* Behält die Blockstruktur bei */
}

.image-crop img {
    width: 100%; /* Bild auf 100% der Container-Breite setzen */
    height: 100%; /* Bild auf 100% der Container-Höhe setzen */
    border-radius: 50%; /* Bild runden, um die Ecken anzupassen */
    object-fit: cover; /* Bild zuschneiden und den Ausschnitt beibehalten */
}

.rounded-div {
  width: 100%;
  height: 150px;
  /*background-color: lightblue;*/ /* Hintergrundfarbe für Sichtbarkeit */
  border: 2px solid #3e5055;   /* Sichtbarer Rahmen */
  border-radius: 15px;         /* Abgerundete Ecken */
  padding: 10px;
}

