.rounded-pic {
    /*width: 300px;*/ /* Breite des Fensters */
    /*height: 300px;*/ /* Höhe des Fensters */
    border-radius: 50%; /* Runde Form */
    overflow: hidden; /* Bild außerhalb des Kreises abschneiden */
    object-fit: cover; /* Bild zuschneiden, um den Container zu füllen */
    justify-content: center;
    align-items: center;
}


.single-contact-container {
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;

}

.hovered {
  filter: brightness(50%);
}

.image-container {
  position: relative;
  display: inline-block;
}


.text-overlay {
  position: absolute;
  top: 50%; /* Positionierung nach Bedarf */
  left: 50%; /* Positionierung nach Bedarf */
  transform: translate(-50%, -50%); /* Zentriert den Text */
  color: white; /* Textfarbe */
  font-size: 0.7em; /* Schriftgröße */
  text-align: center; /* Zentriert den Text */
}
