<div class="single-contact-container" *ngIf="authServ.currentUser !== null">
  <div *ngIf="authServ.userLoggedIn" (click)="showMyProfile()" >

      <div class="image-crop">
        <img *ngIf="authServ.currentUser?.profile_picture" [src]="authServ.currentUser.profile_picture"  width="50" height="50" />
      </div>


       <!--[src]="authServ.currentUser.profile_picture " width="70" /> -->
      <p *ngif="authServ.currentUser?.username" >{{authServ.currentUser.username}}</p>
  </div>
</div>


<!--
<div *ngIf="profilePicture === ''">
  <button>Register</button>
</div>
-->
