.message-content {
  /*color: white;*/
}

.text-settings {
  margin-left: 10px;
  margin-top: 5px;
}

.my-message-text-color {
  color: gray;
}

.chat-partner-message-text-color {
  color: white;
}

.time-info {
  opacity: 0.6;
  font-size: 12px;
}


.time-info-chat-partner {
  color: white;
  opacity: 0.6;
  font-size: 12px;
}


