<div *ngIf="!authServ.userLoggedIn" class="login-container">
    <h1 class="h3 mb-3 fw-normal">Anmelden</h1>

    <div class="form-floating">
      <input [(ngModel)]="loginData.usernameOrEmail" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>


    <div class="form-floating spaced">
      <input [(ngModel)]="loginData.password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <p class="error-message">{{errorMessage}}</p>

    <button (click)="submitLogin()" class="btn btn-primary w-100 py-2 login-button" type="button">Anmelden</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>

</div>

<div *ngIf="authServ.userLoggedIn">
  <p class="error-message error-message-position">Sie sind schon eingellogt. Loggen sie sich erst aus um sich einzuloggen</p>
</div>

