<div *ngIf="authServ.userLoggedIn" class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" >
  <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
    <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-5 fw-semibold">My Chats</span>
  </a>
  <div *ngFor="let contact of userServ.myContacts; let userIndex = index">
    <app-single-contact [username]="contact.username" [picture]="contact.profile_picture" [contactId]="contact.id"></app-single-contact>

  </div>

  <app-start-conversation></app-start-conversation>
</div>


