.register-container {
  width: 500px;
  margin: auto;
}

.weak-password {
  background-color: lightcoral;
}

.medium-password {
  background-color: lightyellow;
}

.strong-password {
  background-color: lightgreen;
}
